@import 'vars';
/*
==========================================================
	Global Styles
==========================================================
*/
body {
	font-family: Helvetica, Arial, Sans-serif
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.box {
	padding: 10px;
}
